* {
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: hsl(204, 43%, 93%);
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    margin: auto;
}

.section_1 {
    border-radius: 7px 7px 0 0;
    background-color: white;
}

.section_1__h1 {
    color: hsl(179, 62%, 43%);
    font-size: larger;
}

.section_1__h2 {
    color: hsl(71, 73%, 54%);
    font-size: medium;
}

.section_1__p {
    color: hsl(218, 22%, 67%);
    font-size: small;
}

.section_2 {
    background-color: hsl(179, 62%, 43%);
}

.subscription {
    color: hsl(204, 43%, 93%);
    font-size: medium;
}

.price {
    color: white;
    font-size: xx-large;
}

span {
    font-size: medium;
}

.price_info {
    color: hsl(204, 43%, 93%);
}

button {
    border-radius: 7px;
    border-style: none;
    background-color: hsl(71, 73%, 54%);
    color: white;
    font-size: medium;
    font-weight: 700;
}

.section_3 {
    color: white;
    background-color: hsl(179, 62%, 43%);
    filter: brightness(108%);
}

.section_3_p {
    color: hsl(204, 43%, 93%);
    font-weight: 100;
    font-size: small;
    line-height: 1.5em;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 600px) {
    .container {
        max-width: 550px;
    }

    .section_1 {
        padding: 2.3em 2.3em 1.8em 2.3em;
    }

    .section_1__h1 {
        margin-bottom: 1em;
    }

    .section_1__h2 {
        margin-bottom: .7em;
    }

    .section_1__p {
        line-height: 1.8em;
    }

    .bottom_section {
        display: flex;
    }

    .section_2 {
        max-width: 50%;
        border-radius: 0 0 0 7px;
    }

    .section_2_content {
        padding: 2.3em;
        width: 300px;
    }

    .subscription {
        margin-bottom: 1em;
    }

    .price {
        margin-bottom: .3em;
    }

    span {
        margin-left: .7em;
    }

    .price_info {
        font-size: small;
        padding-bottom: 2em;
    }

    button {
        font-size: small;
        padding: 1em 6em;
    }

    .section_3 {
        border-radius: 0 0 7px 0;
        max-width: 50%;
    }

    .section_3_content {
        padding: 2.3em;
    }

    .section_3_h1 {
        margin-bottom: .8em;
    }

    .section_3_p {
        line-height: 1.5em;
        max-width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 330px;
    }

    .section_1 {
        padding: 2em 1.5em;
    }

    .section_1__h2 {
        padding: 1em 0;
    }

    .section_1__p {
        line-height: 1.7em;
    }
    
    .section_2 {
        padding: 1.5em;
    }

    .subscription {
        margin-bottom: 1.2em;
    }

    .price {
        padding-bottom: .2em;
    }

    span {
        margin-left: .5em;
    }

    .price_info {
        letter-spacing: .05em;
        padding-bottom: 1.8em;
    }

    button {
        padding: 1em 6.9em;
    }

    .section_3 {
        border-radius: 0 0 7px 7px;
        padding: 1.5em;
    }

    .section_3_h1 {
        margin-bottom: 1em;
    }

    .section_3_p {
        max-width: 60%;
    }
}