* {
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: hsl(204, 43%, 93%);
}

.container {
    max-width: 330px;
    margin: auto;
}

.section_1 {
    border-radius: 7px 7px 0 0;
    padding: 2em 1.5em;
    background-color: white;
}

.section_1__h1 {
    color: hsl(179, 62%, 43%);
    font-size: larger;
}

.section_1__h2 {
    color: hsl(71, 73%, 54%);
    padding: 1em 0;
    font-size: medium;
}

.section_1__p {
    line-height: 1.7em;
    color: hsl(218, 22%, 67%);
    font-size: small;
}

.section_2 {
    padding: 1.5em;
    background-color: hsl(179, 62%, 43%);
}

.subscription {
    color: hsl(204, 43%, 93%);
    font-size: medium;
    margin-bottom: 1.2em;
}

.price {
    color: white;
    font-size: xx-large;
    padding-bottom: .2em;
}

span {
    margin-left: .5em;
    font-size: medium;
}

.price_info {
    color: hsl(204, 43%, 93%);
    letter-spacing: .05em;
    padding-bottom: 1.8em;
}

button {
    border-radius: 7px;
    border-style: none;
    background-color: hsl(71, 73%, 54%);
    color: white;
    font-size: medium;
    font-weight: 700;
    padding: 1em 6.9em;
}

.section_3 {
    border-radius: 0 0 7px 7px;
    color: white;
    padding: 1.5em;
    background-color: hsl(179, 62%, 43%);
    filter: brightness(108%);
}

.section_3_h1 {
    margin-bottom: 1em;
}

.section_3_p {
    color: hsl(204, 43%, 93%);
    font-weight: 100;
    font-size: small;
    line-height: 1.5em;
    max-width: 60%;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }